*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.DS_Store
*.swp
*.out
target/
build/
*.iml
*.ipr
*.iws
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
.mvn/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
log/
banner.txt
application.yml
rebel.xml
.rebel.xml.bak
*.trc
*.log
*.log.*
mvnw
mvnw.cmd
client.logRoot_IS_UNDEFINED/
